.image {
    width: 700px;
    height: 500px;
    position: relative;
    left: 900px;
    bottom: 450px;
}

.Container {
    border-radius: 35px;
    /* border: 2px solid white; */
    padding: 5px 15px;
    /* text-transform: uppercase; */
    letter-spacing: 0.2px;
    font-size: 11px;
    outline: none;
    /* background-color: rgb(78, 163, 202); */
    background-color: white;
    width: 490px;
    /* height: 400px; */
    color: white;
    /* border: 1px solid #1ed760; */
    margin-right: 10px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 15px;
    font-weight: 500;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 21px 21px 15px rgba(0,0,0,0.05); 
box-shadow: 0px 10px 13px -7px #000000, 5px 21px 21px 15px rgba(0,0,0,0.05);
position: relative;
top: -560px;
right: -200px;
}

.search-cont {
    display: flex;
}

.first-text {
    font-size: 16px;
    color: silver;
}

.second-text {
    position: relative;
    top: 10px;
    font-size: 16px;
    color: rgba(12, 10, 10, 0.74);
}

.right {
    position: relative;
    left: 220px;
}

.glassicon {
    height: 20px;
    width: 20px;
    position: relative;
    left: -0px;
    bottom: -0px;


}

.circle {
    background: #4a4af4;
    /* border: 0.1875em solid #0F1C3F; */
    border-radius: 50%;
    /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
    height: 50px;
    width: 50px;
    padding: 14px;

  }