.images {
    height: 200px;
    width: 350px;
    border-radius: 10px;
}

.bigimage {
    border-radius: 10px;
    position: relative;
    left: 70px;
    top: -300px;
}

.smallCont {
    display: flex;
    position: relative;
    top: -300px;
}

.image4 {
    position: relative;
    top: 50px;
    left: 80px;
}

.image3 {
    position: relative;
    left: 80px;
}

.image2 {
    position: relative;
    left: 40px;
    top: 50px;
}

.image1 {
    position: relative;
    left: 40px;
}

.smallCont {
    position: relative;
    left: 70px;
}